@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AR:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    background-image: url("../img/Background.png");
    /* repeat para criar efeito infinito */
    background-repeat: repeat;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

article{
    font-family: "Poppins", sans-serif;
    display: flex;
    margin-top: 30px;
    padding: 10px;
    height: 60vh;
    width: 50vw;
    /* 0.95 para deixar transparente */
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    border-style: ridge;
    border-color: #b10c43;
    justify-content: center;
}

.container{
    display: block;
    padding-top: 15px;
    margin: 50px auto;
    min-width: 200px;
    width: 500px;
    max-width: 600px;
    background-color: transparent;
    text-align:center;
}

h1{
    color: rgb(0, 0, 0);
    font-size: 30px;
}

.texto{
    display: block;
    font-size: 20px;
}

.sub-titulo{
    justify-content: center;
    display: block;
    text-align: center;
    font-size: clamp(7px, 25px, 20px); 
}

@media screen and (max-width:768px) {
    article{
    margin-top: 15px;
    width: 95%;
    height: 95vh;
    }
}

@media screen and (max-height:768px) {
    article{
    margin-top: 15px;
    width: 95%;
    height: 95vh;
    }
}